<!DOCTYPE html>
<html>

<head>
	<meta lang="fr">
	<meta charset="UTF-8">
	<title>À propos - MusiQuali</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<!--  CSS Bootstrap Dependencies  -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
</head>

<body>
	<nav th:replace="~{fragment/common :: mq-navbar}"></nav>

	<div class="container">
		<h1 class="pb-5 mb-5">À propos</h1>

		<p>Projet réalisé par Vincent Jeannin et Théo Vuilliomenet dans le cadre du cours de JEE / Spring II</p>
		<p>2022 - 2023 &COPY; Haute-École ARC</p>

		<img alt="[Logo HE-Arc]" src="/logo_hearc.png" />
	</div>

	<!--  JS Bootstrap Dependencies  -->
	<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

	<!--  Bootstrap Form Validation  -->
	<script th:replace="~{fragment/common :: mq-form-validation}"></script>
</body>

</html>