<!DOCTYPE html>
<html>

<head>
	<meta lang="fr">
	<meta charset="UTF-8">
	<title th:text="@{|${user.getName} - MusiQuali|}"></title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<!--  CSS Bootstrap Dependencies  -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
</head>

<body>
	<nav th:replace="~{fragment/common :: mq-navbar}"></nav>

	<div class="container">
		<h1>Mon profil</h1>

		<div th:if="${param.success}">
			<div class="alert alert-success">Votre profil a été modifié !</div>
		</div>

		<form action="#" th:action="@{/profile/save}" th:object="${user}"
			class="needs-validation p-4 w-100 border border-2 rounded" method="post" autocomplete="off" novalidate>
			<div class="row g-3 mb-3">
				<div class="form-floating col">
					<input type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}"
						placeholder="Prénom" th:required="required">
					<label for="firstName">Prénom</label>
					<div class="invalid-feedback">
						Vous devez entrer un prénom.
					</div>
				</div>
				<div class="form-floating col">
					<input type="text" class="form-control" id="lastName" name="lastName" th:field="*{lastName}"
						placeholder="Nom" required>
					<label for="lastName">Nom</label>
					<div class="invalid-feedback">
						Vous devez entrer nom.
					</div>
				</div>
			</div>
			<div class="form-floating mb-3">
				<input type="email" class="form-control" id="email" name="email" th:field="*{email}"
					placeholder="nom.prenom@gmail.com" required>
				<label for="email">Email</label>
				<div class="invalid-feedback">
					Vous devez entrer une adresse email valide.
				</div>
				<div th:errors="*{email}" th:if="${#fields.hasErrors('email')}" class="invalid-feedback d-block"></div>
			</div>
			<div class="form-floating mb-3">
				<input type="password" class="form-control" id="password" name="password" th:field="*{password}"
					placeholder="password1234">
				<label for="password">Nouveau mot de passe</label>
				<div th:errors="*{password}" th:if="${#fields.hasErrors('password')}" class="invalid-feedback d-block">
				</div>
			</div>
			<div class="form-floating mb-3">
				<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
					placeholder="password1234">
				<label for="confirmPassword">Confirmer le nouveau mot de passe</label>
				<div th:errors="*{password}" th:if="${#fields.hasErrors('password')}" class="invalid-feedback d-block">
				</div>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-lg btn-outline-primary">Modifier</button>
			</div>
		</form>
	</div>

	<!--  JS Bootstrap Dependencies  -->
	<script th:src="@{/webjars/popper.js/2.11.6/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

	<!--  Bootstrap Form Validation  -->
	<script th:replace="~{fragment/common :: mq-form-validation}"></script>
</body>

</html>